@import url('https://fonts.googleapis.com/css?family=Galindo');
@import "../pictures";
body{
    background-image:  url("../pictures/background.png");
    font-family: 'Galindo', cursive;
}
.row {
    display: flex; /* equal height of the children */
}

.col {
    flex: 1; /* additionally, equal width */
}
.resize{
    width: 20%;
    height: auto;
    margin: 0;
}
.resizev{
    width: 50%;
    height: auto;
}
.mainbox{
    background-color: black;
    width: 1135px;
    margin: auto;
}
.leftside{
    color: red;
    background-color: black;
    width: 20%;
    float: left;
}
.leftside>a{
    color: red;
}
.main{
    color: red;
    text-align: center;
    background-color:black;
    font-family: 'Galindo', cursive;
    font-size: 20px;
    width: 60%;
    float: left;
}
.rightside{
    color: red;
    background-color: black;
    width: 20%;
    float: left;
}
.footer{
    color: red;
    background-color: black;
}
.menu{
    text-align: center;
    padding-bottom: 15px;
}
.menu>ul{
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 0;
    overflow: hidden;
    background-color: black;
}

.menu>ul>li{
    list-style-type: none;
    display: inline-block;
    background-color: black;
    position: relative;
    font-size: 20px;
}
.menu>ul>li>a{
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
.menu>ul>li>a:hover{
    background-color: red;
}
.active{
    background-color: red;
}
.footer>img{
    display: inline-block;
    width: 31%;
    height: auto;
}
